@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@mixin card {
    img{
        width: 262px;
        height: 169px;
    }
    h4{
        text-align: left;
        font-size: 24px ;
        letter-spacing: 0px;
        color: #43613D;
        text-transform: capitalize;
        opacity: 1;
    }
    p{
        color: #43613D; 
        text-align: left;
    }
}

@mixin card2 {
    width: 262px;
    height: 444px;
    margin-right: 10px;
}
html{
    font-family: 'Poppins', sans-serif;
}
.sec1{
    
    top: 0px;
    left: 0px;
    width: 1372px;
    height: 768px;
    background: transparent url('../images/mainbg.png') 0% 0% no-repeat padding-box;
    li {
        padding-right: 10px;
        display: inline;
        color: white;
    }
    .logo{
        padding: 20px;
        
        width: 258px;
        height: 70px;
        margin-right: 400px;
    }
    .sec1b{
        h1{
            
            width: 734px;
            height: 134px;
            text-align: center;
            color: #FFFFFF;
            text-transform: uppercase;
            opacity: 1;
            margin-left: 300px;
            margin-top: 200px;
            font-size: 50px;
        }
        input{
            
            width: 804px;
            height: 59px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border-radius: 10px;
            opacity: 1;
            margin-left: 280px;
        }
    } 
    .sec1c{
        .mouse{
            margin-top: 100px;
            width: 22px;
            height: 31px;  
            margin-left: 600px; 
        }
        p{
            color: white;
            margin-left: 590px; 
        }
    } 

        
    
}

.sec2{
    .sec2a{
        h2{
            padding-bottom: 100px;
            padding-left: 490px;
            padding-top: 40px;
            background: transparent url('../images/flight.png') 0% 0% no-repeat padding-box;
            opacity: 1;
            background-size: 612px, 125px;
            background-position: 40% 0%; 
        }
    }
    .card{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 70px;
        :nth-child(1){
            @include card();
            
        }
        :nth-child(2){
            @include card();
            
        }
        :nth-child(3){
            @include card();
            
        }
        :nth-child(4){
            @include card();
            
        }
    }
    .sec2b{
        h2{
            text-align: center;
            text-decoration: underline;
        }
        .card1{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding: 70px;
            :nth-child(1){
                @include card2();
            }
            :nth-child(2){
                @include card2();
            }
            :nth-child(3){
                @include card2();
            }
            :nth-child(4){
                @include card2();
            }
        }
    }
}

.sec3{
    width: 1372px;
    height: 2040px;
    background: transparent url('../images/Group 462@2x.png') 0% 0% no-repeat padding-box;
    background-size: 1406px, 2040px;

    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        color: #4D4D4D;
    }
      
    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    h3{
        text-align: left;
        font-size: 35px;
        margin-left: 50px;
        padding-top: 70px;
        padding-left: 50px;
    }
    .points{
        width: 553px;
        height: 425px;
        padding-left: 70px;
        p{
            color: #4D4D4D;
            font-size: 15px;
        }
    }
    .sec3a{
        background: transparent url('../images/Group 36@2x.png') 0% 0% no-repeat padding-box;
        background-size: 131px , 139px;
        background-position: 60% -10%;
        h3{
            margin-top: 133px;
            margin-left: 250px;
        }
        .eightcards{
            padding: 50px;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-template-rows: repeat(2, 1fr);
            .card8{
                width: 262px;
                height: 444px;
                padding: 10px;
                img{
                    width: 262px;
                    height: 444px;
                }
                p{
                    position: relative;
                    top: 50px;
                    left: 20px;
                }
            }
        }
        button{
            width: 150px;
            height: 30px;
            text-align: center;
            color: #FFFFFF;
            background-color:#4D4D4D ;
            border-radius: 10px;
            margin-left: 600px;
            margin-top: 20px;
        }
    }
}

.sec4{
    background: transparent url('../images/holiday.png')0% 0% no-repeat padding-box;
    background-size: 1370px, 412px;
    width: 1370px;
    height: 412px;
    color: white;
    span{
        font-family: 'Great Vibes', cursive;
    }
    h2{
        margin-left: 500px;
        padding-top: 50px;
    }
    button{
        margin-left: 500px;
        width: 188px;
        height: 27px;
        color: #43613D;
        opacity: 1;
    }
}